.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.list-group a{
	height: 40px;
}

body{font-size: 18px;}

a.listclick{
	height: 70px;
}
span.listname{
	font-size: 22px;
	font-weight: bold;
}