<section data-ng-controller="StatusesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Statuses</h1>
        <h4>Een status beschrijft de omgeving van een project zoals "Development", "Staging" of "Live".</h4> <h4>Voeg nieuwe statusen toe onder het submenu "New Status". </h4>
    </div>
    <div class="list-group">
        <a data-ng-repeat="status in statuses" data-ng-href="#!/statuses/{{category._id}}" class="list-group-item">
            <h4 class="list-group-item-heading" data-ng-bind="status.name"></h4>
            <span data-ng-bind="status.description"></span>
        </a>
    </div>
    {{statuses}}
</section>