<section data-ng-controller="UsersController">
    <div class="page-header">
        <h1>Users</h1>
    </div>
    <!-- this is the new search input field -->
    <div class="form-group">
        <input type="text" ng-model="search" typeahead="user as user.name for user in users | filter:$viewValue | limitTo:8" class="form-control" typeahead-on-select="userSearch($item)" placeholder="Search Users...">
    </div>
	<div class="row">
	        <div class="list-group">
	            <span class="col-md-3 col-xs-4 list-group-item-heading listname">Display Name</span>
	            <span class="col-md-2 col-xs-4"><h4>First Name</h4></span>
	            <span class="col-md-2 col-xs-2"><h4>Last name</h4></span>
	            <span class="col-md-3 col-xs-3"><h4>Contact</h4></span>
	            <span class="col-md-2 col-xs-2"><h4>Type</h4></span>
	        </div>
	    </div>

	    <div class="list-group">
	        <a data-ng-repeat="user in users" data-ng-href="#!/users/{{user._id}}" class="list-group-item listclick">
	            <span class="col-md-3 list-group-item-heading listname" data-ng-bind="user.displayName">
	            </span>
	            <span class="col-md-2" data-ng-bind="user.firstName">aa</span>
	            <span class="col-md-2" data-ng-bind="user.lastName"></span>
	            <span class="col-md-2 pull-right" data-ng-bind="user.roles"></span>
	            <span class="col-md-3 pull-right" data-ng-bind="user.email">Staging</span>
	        </a>
	    </div>
	    <!-- this is the paging control -->
	    <pagination total-items="projects.length" ng-model="currentPage" ng-change="pageChanged()" max-size="pageSize" ng-show="projects.length > pageSize"></pagination>
	    <!-- end -->
	    <div class="alert alert-warning text-center" data-ng-hide="!projects.$resolved || projects.length">
	        No projects yet, why don't you <a href="/#!/projects/create">create one</a>?
	    </div>


</section>
