<section >
    <div class="page-header">
        <h1>New project</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>

                <div class="form-group" data-ng-controller="StatusesController">
                    {{statuses}}
                    <label class="control-label" for="name">Status</label>
                <!-- ng select op basis van omgeving -->
                        <select class="form-control" ng-model="status"
                        ng-options="status.name for status in statuses track by status.id">
                        </select>
                </div>

                <div ng-repeat="status in statuses">{{name}}</div>

                <div data-ng-controller="ProjectsController" data-ng-init="find()">
                    {{projects}}
                    <div class="form-group">
                        <label class="control-label" for="name">Name</label>
                        <div class="controls">
                            <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="name">Description</label>
                        <div class="controls">
                            <textarea name="description" data-ng-model="description" id="description" class="form-control" cols="30" rows="10" placeholder="Description"></textarea>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>