
<section data-ng-controller="ProjectsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Projects</h1>
    </div>
    <!-- this is the new search input field -->
    <div class="form-group">
        <input type="text" ng-model="search" typeahead="project as project.name for project in projects | filter:$viewValue | limitTo:8" class="form-control" typeahead-on-select="projectSearch($item)" placeholder="Search Projects...">
    </div>
    <!-- end -->
    <div class="row">
        <div class="list-group">
            <div class="col-md-3 col-xs-3"><h4>Project</h4></div>
            <div class="col-md-4 col-xs-4"><h4>Description</h4></div>
            <div class="col-md-2 col-xs-2 pull-right"><h4>Port</h4></div>
            <div class="col-md-2 col-xs-2 pull-right"><h4>Status</h4></div>
        </div>
    </div>

    <div class="list-group">
        <a data-ng-repeat="project in projects" data-ng-href="#!/projects/{{project._id}}" class="list-group-item listclick">
            <span class="col-md-3 list-group-item-heading listname" data-ng-bind="project.name">
            </span>
            <span class="col-md-4" data-ng-bind="project.description"></span>
            <span class="col-md-2 pull-right">3000</span>
            <span class="col-md-2  pull-right" data-ng-bind="project.status"></span>
        </a>
    </div>
            {{projects}}
    <!-- this is the paging control -->
    <pagination total-items="projects.length" ng-model="currentPage" ng-change="pageChanged()" max-size="pageSize" ng-show="projects.length > pageSize"></pagination>
    <!-- end -->
    <div class="alert alert-warning text-center" data-ng-hide="!projects.$resolved || projects.length">
        No projects yet, why don't you <a href="/#!/projects/create">create one</a>?
    </div>
</section>